html{
  scrollbar-width: none;
}
body{
  margin:0;
  font-family:'Roboto', sans-serif;
  position:relative;
  
 

}
body::-webkit-scrollbar{
  display:none;
}

nav{
display: flex;
justify-content: center;
align-items: center;
background-color:#0c0014;
color:#f0e6ef;
position: absolute;
top:0;
transition: 1s ease-in-out;
width:100vw;
}

.hidden{

 top:-5rem;
}

.navList{
  margin-top:0;
  margin-bottom: 0;
  padding:0;
  flex:1;
  list-style: none;
  display:flex;
  justify-content: space-around;
  height:100%;
  width:100%;
  
}

.navItem{
  margin: .5rem;
  flex:1;
  font-size: 1.7rem;
  font-weight: 700;
  border: white 1px solid;
  border-radius:10px;
  
}
.navItem a{
  text-decoration: none;
  color:inherit;
}
.navItem:hover{
  background-color:#ca670250;
  transition:.5s ease-in-out;
}
#toggleButton:hover{
  background-color:#ca670250;

}
.titleImage{
  font-size: 10rem;
  margin-left:1rem;
  animation: color-change 1s infinite;
  border-radius:50%;
}
#toggleButton{
  margin:0;
  border: white 1px solid;
  padding:.5rem;
}
.blinker{
  animation: blink 1.5s infinite; 
}
@keyframes blink {
  0%{color: rgb(255, 255, 255, 0)}
  50%{color:#f0e6ef}
  100%{color: rgb(255, 255, 255, 0)}
  
}

header{
  text-align: center;
  margin-top:0;
  padding-top:2rem;
  padding-bottom:2rem;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  position: relative;
 background-image: url(/images/layered-desktop.svg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position-y: -2rem;
  color: #f0e6ef;
  
}
.sectionTitle{
  font-family: 'Bitter', serif;
  border-bottom: 2px black solid;
  width: auto;
}

h1{
  margin-top:0;
  font-size:4rem;
  font-family:'Bitter',serif;
  font-weight: 900;
}
.pageSubTitle{
  font-size:2.5rem;
}

.toggler{
  position: absolute;
  top:1rem;
  right:1rem;
  font-size: 1.5rem;
  cursor: pointer;
  
}
#toggleButton{
  transition: .8s ease-in-out;
}
.togglerSlide{
transform:translateY(3rem);

}
main{
  margin: 1rem 5rem;
  text-align: center;
  font-size:2rem;
  padding:3rem;
  line-height: 1.5;
}
.profilePic{
  max-height: 18rem;
  max-width: 18rem;
  border-radius: 50%;
}

footer{
  background-color: #0c0014;
  color:white;
}
.socialList{
  display:flex;
  justify-content: center;
  list-style: none;
  margin-bottom:0;
  padding:1rem;
}
.socialItem{
 margin: 0 2rem;
}

.socialLink{
  color:inherit;
  text-decoration: none;
  font-size:3rem;
}
.socialItem:hover{
  color:#ca6702;
}


@media (max-width:515px){
  header{
    flex-direction:column;
    justify-content: space-around;
    background-image: url(/images/layered-phone.svg);
  }
  .navList{
    flex-direction:column;
  }
  main{
    margin:1rem 1rem;
    font-size:1.5rem;
  }
  .profilePic{
    height:12rem;
    width: 12rem;
  }
  .hidden{
    top: -20rem;
  }
  .togglerSlide{
    transform:translateY(12rem);
    
    }
}