body{
  margin:0;
  font-family:'open sans'sans-serif;
  color:#091112;
}

header{
  background-image:url(/images/leafybackground.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position-y: ;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 5px 5px black;
  position: relative;
  
}


nav{
  margin-top:0;
  position: absolute;
  top:1rem;
  font-family:'volkhov', serif;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
   
}

nav ul{
  list-style-type: none;
  width: 100%;
  font-size: 1rem;
  
}

nav li{
    display: inline-block;
    padding-left:20px;
    padding-right:20px;
    padding:1rem;
    margin: 0 2rem auto 2rem;
}

nav a{
  text-decoration: none;
  color:#CCC5B9;
}
nav a:hover{
  color:#cad2c5;
}
h1{
  margin-top:0;
  color:#FFFCF2;
  font-size:4rem;
  font-family:'volkhov', serif; 
}
.title-icon{
  font-size: 2rem;
  color:#FFFCF2;
}


h2{
  color:#FFFCF2;
  margin-top:0;
  font-size:1.5rem;
  font-family:'volkhov', serif;
}

.who{
  text-align:center;
  background-color:#CCC5B9;
  padding:3% 5% 3% 5%;
  height: 87vh;
  line-height: 1.5;
  font-family:'open sans'sans-serif;

}

.who h2{
  font-family:'volkhov', serif;
  color:#091112;
}

.header-divider{
  border-bottom: 5px dotted #091112;
  height: 0px;
  width: 30%;
}